@import '../../styles/variables.css';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 74px;
    background-color: var(--primary-color);
    width: 100%;
}

.logoContainer {
    flex: 1;
}

.searchContainer {
    flex: 2;
    display: flex;
    justify-content: center;
}

.buttonContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}